/* 캐러셀 기본 스타일 */
.carousel-section {
  box-sizing: border-box;
  overflow: hidden;
  padding-top: var(--ruler-scale-dimension-750);
  padding-bottom: var(--ruler-scale-dimension-750);
}

.carousel-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: var(--ruler-scale-dimension-150);
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-slides {
  display: flex;
  gap: 8px;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 320px;
  max-width: 400px;
  background-color: var(--ruler-scale-color-gray-200);
  border-radius: 6px;
  overflow: hidden;
  text-align: left;
}

.slide img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 5 / 6;
  border-radius: var(--ruler-scale-corner-radius-50)
    var(--ruler-scale-corner-radius-50) 0 0;
}

.slide-info {
  margin-top: var(--ruler-scale-dimension-200);
  margin-bottom: var(--ruler-scale-dimension-300);
  margin-left: var(--ruler-scale-dimension-250);
  margin-right: var(--ruler-scale-dimension-250);
}

.slide-title {
  font-weight: var(--ruler-scale-font-weight-bold);
  margin-bottom: var(--ruler-scale-dimension-50);
}

.slide-info p {
  font-size: var(--ruler-scale-dimension-font-size-100);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 42px;
  height: 42px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 9999px;
}

.carousel-button.prev {
  left: 10px;
  z-index: 99;
}

.carousel-button.next {
  right: 10px;
  z-index: 99;
}
