/* 공통 스타일 예시 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  background-color: var(--ruler-semantic-color-background-low);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1180px; /* 최대 너비 */
  min-width: 700px; /* 최소 너비 */
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--ruler-semantic-color-background-default);
}

.container-full {
  width: 100%;
  box-sizing: border-box;
}

.page-title {
  width: 100%;
  padding-top: 24px;
  margin-bottom: 24px;
}
