/* 공통 스타일 예시 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  box-sizing: border-box;
  background-color: var(--ruler-semantic-color-background-low);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  border-top: 1px solid var(--ruler-semantic-color-border-line); /* 두께와 색상 조절 */
  margin: 60px 0; /* 위아래 간격 */
}

code {
  display: block;
  background-color: var(--ruler-scale-color-gray-950);
  padding: 8px;
  color: var(--ruler-scale-color-gray-00);
  border-radius: var(--ruler-scale-corner-radius-75);
  margin-top: 24px;
  margin-bottom: 24px;
  white-space: pre;
  overflow: auto;
  word-wrap: break-word;
}

video {
  width: 100%;
  border-radius: var(--ruler-scale-corner-radius-75);
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px; /* 최대 너비 */
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--ruler-semantic-color-background-default);
}

.container-full {
  width: 100%;
  box-sizing: border-box;
}

.page-title {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--ruler-semantic-color-border-line);
  text-align: left;
}

.guide {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 100px;
}

.guide .page-title {
  padding-right: 0px;
  padding-left: 0px;
}

.guide p {
  line-height: 180%;
  font-size: 15px;
  margin-bottom: 8px;
  white-space: normal; /* 기본 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
  word-break: keep-all; /* 한국어 등 단어 중간 줄바꿈 방지, 영어는 단어 단위로 */
}

.guide li {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 180%;
  white-space: normal; /* 기본 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
  word-break: keep-all; /* 한국어 등 단어 중간 줄바꿈 방지, 영어는 단어 단위로 */
}

.ruler-token {
  width: fit-content;
  background-color: var(--ruler-scale-color-blue-100);
  border-radius: var(--ruler-scale-corner-radius-50);
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  color: var(--ruler-scale-color-blue-500);
}

.ruler-tf-decision {
  display: flex;
  width: 100%;
}

.ruler-tf-decision section {
  scroll-margin-top: 80px;
}

.ruler-tf-decision h3 {
  margin-bottom: 12px;
}

/* TOC 기본 스타일 */

.toc li {
  margin: 0;
}

.ruler-tf-decision nav {
  height: fit-content;
  width: 20%;
  padding: 16px;
  margin-bottom: 20px;
  margin-right: 24px;
  background-color: var(--ruler-scale-color-blue-100); /* 배경색 설정 */
  border-radius: 5px;
  position: sticky;
  top: 24px; /* 화면 상단에서 20px 떨어진 위치에 고정 */
}

/* TOC 링크 스타일 */
.ruler-tf-decision a {
  text-decoration: none;
  color: var(--ruler-scale-color-blue-500);
  font-size: 13px;
  line-height: 136%;
  display: inline-block;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}

.toc p {
  width: 100%;
  text-align: left;
  font-weight: 500;
  color: var(--ruler-scale-color-blue-800);
}
