/* full.css */

.hero-banner {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 로고 슬라이드 */

.hero-logo-slide {
  position: absolute;
  width: 100%;
  bottom: -1px;
  background: rgba(0, 0, 0, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 62px; /* 로고 사이 간격 */
  animation: scroll 20s linear infinite;
}

.logo {
  height: 42px; /* 로고 크기 */
  flex-shrink: 0;
}

/* 좌에서 우로 이동하는 애니메이션 */
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-120%);
  }
}

/* --------------------------- */
/* 반응형 */
/* --------------------------- */

/* 1024px 이하의 모바일 화면 스타일 */
@media only screen and (max-width: 1024px) {
  .hero-video {
    height: 540px;
  }
}

/* 1280px 이하의 터치 디바이스 (모바일 또는 태블릿 화면) */
@media only screen and (max-width: 1280px) and (pointer: coarse) {
  .hero-video {
    height: 540px;
  }
}
