.my-section {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}

/* --------------------------- */
/* 메뉴 부분 */
/* --------------------------- */

.my-section aside {
  width: 200px;
  height: fit-content;
  margin-right: 42px;
  padding: var(--ruler-scale-dimension-150);
  background-color: var(--ruler-scale-color-blue-100);
  border-radius: var(--ruler-scale-corner-radius-50);

  /* 스크롤 시 고정 설정 */
  position: sticky;
  top: 72px;
}

aside p {
  margin-bottom: var(--ruler-scale-dimension-100);
  font-size: var(--ruler-scale-dimension-font-size-100);
  line-height: var(--ruler-scale-line-height-5);
  white-space: normal; /* 기본 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 길 경우 줄바꿈 */
  word-break: keep-all; /* 한국어 등 단어 중간 줄바꿈 방지, 영어는 단어 단위로 */
}

aside .title {
  font-weight: var(--ruler-scale-font-weight-bold);
}

aside a {
  font-size: var(--ruler-scale-dimension-font-size-100);
  color: var(--ruler-semantic-color-common-interactive);
}

.my-section-contents {
  width: 100%;
}

/* --------------------------- */
/* 유저 등급, 혜택 부분 */
/* --------------------------- */

.user-membership {
  width: 100%;
  height: 150px;
  background-color: var(--ruler-semantic-color-fill-secondary);
  color: var(--ruler-semantic-color-text-on-color);
  border-radius: var(--ruler-scale-corner-radius-50);
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: var(--ruler-scale-dimension-500);
}

.user-membership p {
  width: 100%;
  font-size: var(--ruler-scale-dimension-font-size-550);
  font-weight: var(--ruler-scale-font-weight-bold);
}

/* --------------------------- */
/* 프로덕트 카드 리스트(PLP부분) */
/* responsive.css 에서 제어 */
/* --------------------------- */

/* --------------------------- */
/* 프로덕트 카드 */
/* --------------------------- */
.product-card {
  margin-bottom: 24px;
  min-width: 0; /* 아이템이 수평으로 넘치지 않도록 설정 */
  cursor: pointer;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기 계산 */
}

.product-card img {
  width: 100%;
  border-radius: var(--ruler-scale-corner-radius-50);
  margin-bottom: 10px;
}

.product-card-info {
  width: 90%;
}

.product-card-brand {
  margin-top: var(--ruler-scale-dimension-50);
  margin-bottom: var(--ruler-scale-dimension-50);
  font-size: var(--ruler-semantic-typography-text-l-bold-font-size);
  font-weight: var(--ruler-semantic-typography-text-l-bold-font-weight);
  display: -webkit-box; /* Flexbox 기반으로 줄 수 제한 */
  -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
  -webkit-line-clamp: 1; /* 1줄로 제한 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
}

.product-card-title {
  font-size: var(--ruler-semantic-typography-text-l-font-size);
  line-height: var(--ruler-semantic-typography-text-l-line-height);
  font-weight: var(--ruler-semantic-typography-text-l-font-weight);
  display: -webkit-box; /* Flexbox 기반으로 줄 수 제한 */
  -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
  -webkit-line-clamp: 2; /* 2줄로 제한 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
  margin-bottom: var(--ruler-scale-dimension-25);
}

.product-card-price {
  display: flex;
  font-size: var(--ruler-semantic-typography-text-xxl-font-size);
  line-height: var(--ruler-semantic-typography-text-xxl-line-height);
  font-weight: var(--ruler-scale-font-weight-bold);
  margin-bottom: var(--ruler-scale-dimension-125);
}
.product-card-discount {
  color: var(--ruler-semantic-color-common-accent);
  margin-right: 2px;
}

.product-card-user {
  display: flex;
  align-items: center;
  font-size: var(--ruler-semantic-typography-text-xs-font-size);
  line-height: var(--ruler-semantic-typography-text-xs-line-height);
  font-weight: var(--ruler-scale-font-weight-medium);
  color: var(--ruler-semantic-color-text-tertiary);
}

.product-card-like,
.product-card-review {
  display: flex;
  align-items: center;
}

.product-card-like {
  margin-right: var(--ruler-scale-dimension-50);
}

.product-card-user svg {
  width: 14px; /* 원하는 너비 */
  height: 14px; /* 원하는 높이 */
  fill: var(--ruler-semantic-color-text-tertiary);
}

/* --------------------------- */
/* 테이블 */
/* --------------------------- */

.user-table {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--ruler-scale-color-gray-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-buy-product {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

/* --------------------------- */
/* 프로덕트 호라이젠탈 카드 */
/* --------------------------- */

.product-h-card {
  display: flex;
  align-items: center;
  padding-right: var(--ruler-scale-dimension-225);
  width: 60%;
}

.product-h-card img {
  max-width: 100px;
  margin-right: 8px;
  border-radius: var(--ruler-scale-corner-radius-50);
}

.product-h-card-brand {
  margin-top: var(--ruler-scale-dimension-50);
  margin-bottom: var(--ruler-scale-dimension-50);
  font-size: var(--ruler-semantic-typography-text-l-bold-font-size);
  font-weight: var(--ruler-semantic-typography-text-l-medium-font-weight);
  display: -webkit-box; /* Flexbox 기반으로 줄 수 제한 */
  -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
  -webkit-line-clamp: 1; /* 1줄로 제한 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
}

.product-h-card-title {
  font-size: var(--ruler-scale-dimension-font-size-200);
  line-height: var(--ruler-semantic-typography-text-l-line-height);
  font-weight: var(--ruler-scale-font-weight-semibold);
  display: -webkit-box; /* Flexbox 기반으로 줄 수 제한 */
  -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
  -webkit-line-clamp: 2; /* 2줄로 제한 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
  margin-bottom: var(--ruler-scale-dimension-50);
}

.product-h-card-price {
  display: flex;
  font-size: var(--ruler-scale-dimension-font-size-125);
}

.buy-state {
  width: 20%;
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  text-align: center; /* 텍스트와 내용의 중앙 정렬 */
}

.buy-state p {
  font-size: var(--ruler-scale-dimension-font-size-125);
  color: var(--ruler-semantic-color-text-secondary);
  margin-top: var(--ruler-scale-dimension-50);
}

.badge {
  width: fit-content;
  font-weight: var(--ruler-scale-font-weight-medium);
  color: var(--ruler-scale-color-green-700);
  background-color: var(--ruler-scale-color-green-200);
  padding-left: var(--ruler-scale-dimension-75);
  padding-right: var(--ruler-scale-dimension-75);
  padding-top: var(--ruler-scale-dimension-50);
  padding-bottom: var(--ruler-scale-dimension-50);
  border-radius: var(--ruler-scale-corner-radius-25);
}

/* 버튼 */

.primary,
.secondary {
  font-size: var(--ruler-scale-dimension-font-size-75);
  padding-top: var(--ruler-scale-dimension-125);
  padding-bottom: var(--ruler-scale-dimension-125);
  padding-right: var(--ruler-scale-dimension-225);
  padding-left: var(--ruler-scale-dimension-225);
  border: none;
  border-radius: var(--ruler-scale-corner-radius-25);
  cursor: pointer;
}

.primary {
  background-color: var(--ruler-semantic-color-fill-primary);
  color: var(--ruler-scale-color-gray-00);
  width: 100%;
  margin-top: var(--ruler-scale-dimension-50);
}

/* --------------------------- */
/* 반응형 */
/* --------------------------- */

/* 1024px 이하의 모바일 화면 스타일 */
@media only screen and (max-width: 1024px) {
  .my-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .my-section aside {
    display: none;
  }

  /* --------------------------- */
  /* 테이블 */
  /* --------------------------- */

  .user-table {
    display: inherit;
  }

  .user-buy-product {
    width: 100%;
    justify-content: space-between;
  }

  /* --------------------------- */
  /* 프로덕트 호라이젠탈 카드 */
  /* --------------------------- */

  .product-h-card {
    width: 100%;
  }

  .buy-state {
    width: fit-content;
    display: flex;
    align-items: flex-end;
  }

  .buy-state p {
    font-size: var(--ruler-scale-dimension-font-size-125);
    color: var(--ruler-semantic-color-text-secondary);
    margin-top: var(--ruler-scale-dimension-50);
  }

  .badge {
    width: fit-content;
    font-size: var(--ruler-scale-dimension-font-size-125);
  }

  /* 버튼 */

  .button-group {
    margin-top: var(--ruler-scale-dimension-225);
  }

  .secondary-button-group {
    display: flex;
    gap: var(--ruler-scale-dimension-100);
  }

  .secondary {
    width: 100%;
  }

  .primary {
    margin-top: var(--ruler-scale-dimension-100);
  }
}

/* 1280px 이하의 터치 디바이스 (모바일 또는 태블릿 화면) */
@media only screen and (max-width: 1280px) {
  .my-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .my-section aside {
    display: none;
  }

  /* --------------------------- */
  /* 테이블 */
  /* --------------------------- */

  .user-table {
    display: inherit;
  }

  .user-buy-product {
    width: 100%;
    justify-content: space-between;
  }

  /* --------------------------- */
  /* 프로덕트 호라이젠탈 카드 */
  /* --------------------------- */

  .product-h-card {
    width: 100%;
  }

  .buy-state {
    width: fit-content;
    display: flex;
    align-items: flex-end;
  }

  .buy-state p {
    font-size: var(--ruler-scale-dimension-font-size-125);
    color: var(--ruler-semantic-color-text-secondary);
    margin-top: var(--ruler-scale-dimension-50);
  }

  .badge {
    width: fit-content;
    font-size: var(--ruler-scale-dimension-font-size-125);
  }

  /* 버튼 */

  .button-group {
    margin-top: var(--ruler-scale-dimension-225);
  }

  .secondary-button-group {
    display: flex;
    gap: var(--ruler-scale-dimension-100);
  }

  .secondary {
    width: 100%;
  }

  .primary {
    margin-top: var(--ruler-scale-dimension-100);
  }
}
