/* 2560px(xxl)+ */
@media only screen and (min-width: 2560px) {
  .container-full {
    width: 2560px;
    margin: 0 auto; /* 가운데 정렬 */
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6열 그리드 */
    gap: 16px; /* 열 사이 간격 */
  }
}

/* 1280px(xl) ~ 2560px(xxl) */
@media only screen and (min-width: 1280px) and (max-width: 2559px) {
  .container {
    max-width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5열 그리드 */
    gap: 12px; /* 열 사이 간격 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }
}

/* 1024px(lg) ~ 1280px(xl) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 700px;
    margin: 0 auto; /* 가운데 정렬 */
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3열 그리드 */
    gap: 8px; /* 열 사이 간격 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }

  .guide {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* ~1024px(lg) */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto; /* 가운데 정렬 */
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 8px; /* 열 사이 간격 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }

  .guide {
    padding-right: 20px;
    padding-left: 20px;
  }

  .ruler-tf-decision nav {
    display: none;
  }
}

/* ~1024px(lg) with coarse pointer (e.g., touch devices) */
@media only screen and (max-width: 1024px) and (pointer: coarse) {
  .container {
    max-width: 700px; /* 모바일 스타일로 제한된 너비 */
    margin: 0 auto;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 8px; /* 열 사이 간격 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }

  .guide {
    padding-right: 20px;
    padding-left: 20px;
  }
}
