/* 2560px 이상의 해상도에서는 너비를 고정 */
@media only screen and (min-width: 2560px) {
  .container-full {
    width: 2560px;
    margin: 0 auto; /* 가운데 정렬 */
  }
}

/* 기본 데스크탑 화면 스타일 (1281px 이상의 큰 화면) */
@media only screen and (min-width: 1281px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5열 그리드 */
    gap: 8px; /* 열 사이 간격 설정 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }
}

/* 1025px ~ 1280px 사이의 포인터 디바이스 (일반 데스크탑 화면) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) and (pointer: fine) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5열 그리드 */
    gap: 8px; /* 열 사이 간격 설정 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }
}

/* 1024px 이하의 모바일 화면 스타일 */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 700px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 8px; /* 열 사이 간격 설정 */
  }

  .guide {
    padding-right: 20px;
    padding-left: 20px;
  }

  .ruler-tf-decision nav {
    display: none;
  }
}

/* 1280px 이하의 터치 디바이스 (모바일 또는 태블릿 화면) */
@media only screen and (max-width: 1280px) and (pointer: coarse) {
  .container {
    max-width: 700px; /* 모바일 스타일로 제한된 너비 */
    margin: 0 auto;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 5열 그리드 */
    gap: 8px; /* 열 사이 간격 설정 */
    margin-bottom: var(--ruler-scale-dimension-400);
  }

  .guide {
    padding-right: 20px;
    padding-left: 20px;
  }
}
